:root {
  --primary-color: #171010;
  --secondary-color: #536162;
  --tertiary-color: #eeeeee;
}

body {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-family: "Nunito", sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin: 0 8rem;
}

footer {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

h1 {
  font-weight: 800;
  margin-left: 4rem;
}

h2 {
  font-weight: 700;
}

p,
tr {
  font-family: "Nunito", sans-serif;
}

tr {
  vertical-align: top;
}

table {
  margin-left: 2rem;
  width: 100%;
}

#bio-photo {
  width: 16%;
  height: 16%;
  border-radius: 4rem;
}

.contact-icon {
  margin: 0 8px;
  padding: 12px;
  width: 24px;
  height: 24px;
}

.contact-icon:hover {
  background-color: var(--secondary-color);
}

.container {
  padding: 4rem 16rem 2rem;
}

.container-contact {
  color: var(--tertiary-color);
  display: flex;
  justify-content: center;
}

.container-footer {
  padding: 2rem 16rem 4rem;
  text-align: center;
}

.details {
  margin: 0;
}

.details-sub {
  color: var(--secondary-color);
}

.details-year {
  color: var(--secondary-color);
  text-align: right;
  padding-right: 2rem;
}

.summary {
  color: var(--secondary-color);
  text-align: center;
  margin: 2rem 0;
}

.table-column-1 {
  width: 30%;
}

.table-column-2 {
  width: 70%;
}

.table-info-key {
  font-weight: 700;
  padding-right: 2rem;
}

.table-info-value {
  color: var(--secondary-color);
}
